---
layout: layouts/base.njk
---
<style>
  body{
    width: 50%;
    font-size: 1.2em;
  }
  h1{
    padding-top: 3em;
  }
  a{
    font-size: 1.7em;
  }
</style>
<h1>Liz's Dream Lab Notes</h1>
<br>
<br>
<div class="typewriter">
  <h2>So Many New Ideas</h2>
    </div>
  <br>
  <div>
    <p><a href="about/">About</a> &nbsp; | &nbsp;
      <a href="CV.pdf">CV</a> &nbsp; | &nbsp;
      <a href="blog/">Blog</a>
    </p>
</div>
